* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    position: absolute;
    top: 40px;        
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 15px 0;
    text-align: center;
    z-index: 10;
}

nav a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    margin:15px;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: rgb(93, 190, 214);
}
header {
    position: relative;
    background-image: url(/imagenes/porsche.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    color: white;
}
header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 0;

}

header h1, 
header h2 {
    top: 45%;
    position: relative;
    z-index: 1; 
}

header h1 {
    font-size: 3.9rem;
    font-weight: bold;

}

header h2 {
    font-size: 2rem;
    margin-top: 10px;
}

main {
    padding: 20px;
    background-color: #e3dddd;
}

section {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;          
    justify-content: center;  
    gap: 70px;
    display: grid;
}


section h2 {
    width: 100%;              
    text-align: center;
    font-size: 45px;
    color: #222;
    margin-bottom: 15px;
}


article {
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

article:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}


article img {
    width: 300px;
    height: 300px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}


article p {
    padding: 20px;
    font-size: 20px;
}


footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 40px;
}

