*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background:#f3f3f3;
}

.compra-anticipada{
    max-width:1100px;
    margin:60px auto;
    background:white;
    padding:50px;
    border-radius:8px;
}

.compra-anticipada header{
    text-align:center;
    margin-bottom:40px;
}

.compra-anticipada h2{
    font-size:2.2rem;
    color:#222;
    margin-bottom:10px;
}

.compra-anticipada p{
    color:#666;
}

form{
    display:flex;
    flex-direction:column;
    gap:35px;
}

fieldset{
    border:none;
}

legend{
    font-size:1.4rem;
    font-weight:600;
    color:#222;
    margin-bottom:25px;
}

label{
    font-size:1rem;
    color:#333;
    margin-top: 8px;
    margin-bottom:20px;
}

/* Campos principales */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea{
    width:100%;
    background:#efefef;
    border:none;
    padding:15px;
    font-size:1rem;
    border-radius:4px;
    margin-bottom:20px;
}

/* Radios y checkboxes */
input[type="radio"],
input[type="checkbox"]{
    margin-right:5px;
    margin-bottom:15px;
}

input:focus,
select:focus,
textarea:focus{
    outline:2px solid #c01414;
}

textarea{
    resize:vertical;
    min-height:140px;
}

/* Preguntas */
fieldset p{
    margin-top:20px;
    margin-bottom:12px;
    font-weight:600;
    color:#222;
}

/* Botón */
button{
    width:100%;
    padding:18px;
    border:none;
    background:#c01414;
    color:white;
    font-size:1rem;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
    border-radius:5px;
}

button:hover{
    background:#9f1111;
}