
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    position: relative;
    background-image: url(https://th.bing.com/th/id/R.54c08bffe968ca6588a2796f52f265b0?rik=Qfon4wDED1dfEg&pid=ImgRaw&r=0); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;               
    color: white;                 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 0;
}
.resena-container {
    width: 1000px;
    margin: 100px auto ;
    padding: 30px;
    background-color: #e8e5df;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.historica {
    background: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.historica h2 {
    font-size: 2.3rem;
    margin-bottom: 20px;
}

.historica p {
    font-size: 1.15rem;
    line-height: 1.8;
    color: #444;
}








/*ELEMENTOS FLEXBOX*/

.wrraper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}











